.about_client_page {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#ffff, #F7F7F7);
    padding-bottom: 10vh;

    .about_client {
        width: 80%;
        display: grid;
        grid-template-columns: 45% 50%;
        column-gap: 5%;
        margin-top: 15vh;

        .left {
            background: #292933;
            padding: 7vh;
            filter: drop-shadow(0 0 1mm rgb(154, 154, 154));
            border-radius: 20px;

            img {
                background: #DA9C00;
                border-radius: 20px;
                padding: 5vh;
                filter: drop-shadow(0 0 1mm rgb(80, 80, 80));
            }
        }

        .right {
            span {
                display: flex;
                font-size: 6vh;
                font-weight: 700;
                -webkit-text-stroke: 2px;
                letter-spacing: 2px;
                color: black;
                text-transform: capitalize;

                b {
                    text-transform: capitalize;
                    color: #DA9C00;
                    -webkit-text-stroke: 1.5px;
                    margin-left: 1vh;
                }
            }

            p {
                font-size: 2.7vh;
                letter-spacing: 0.3px;
                font-weight: 450;
                word-wrap: break-word;
                -webkit-text-stroke: 0.3px;
                opacity: 0.9;
            }

            button {
                background: #FFB600;
                padding: 2vh 5vh;
                border-radius: 1.5vh;
                font-size: 2.2vh;
                font-weight: 450;
                -webkit-text-stroke: 0.4px;
                text-transform: capitalize;
                color: aliceblue;
                border: none;
                letter-spacing: 1px;
                transition: 0.3s;
                cursor: pointer;
                margin-top: 3vh;
            }

            button:hover {
                transition: 0.3s;
                scale: 1.03;
            }
        }
    }
}